.row {
  position: relative;
}
.row .gallery {
  margin: 0px auto;
}
.row .gallery img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 5px;
}
.row .slider {
  width: 80vw;
  height: 80vh;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.row .slider .close {
  position: absolute;
  z-index: 3;
  top: 3%;
  right: 3%;
  font-size: 50px;
  color: white;
  cursor: pointer;
}
.row .slider .arrow {
  z-index: 3;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
}
.row .slider .arrow-left {
  left: 3%;
}
.row .slider .arrow-right {
  right: 3%;
}
.row .slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  position: absolute;
  list-style-type: none;
  padding: 0px;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
.row .slider ul li {
  margin: 0px;
  list-style-type: none;
}
.row .slider ul li img {
  width: 80vw;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}
