.progress{
    
    .cos-progress-bar{
        width:0%;
        height: 100%;
        background-color: rgb(120, 198, 243);
        transition: 0s all ease;
        
        
        
    }
}
.sending{
    color: rgb(33, 118, 230);
    font-size: 30px;
}